.footer {
    border-top: 2px solid #000000 ;

    &__title {
        font-size: 15px;
        font-weight: 700;
    }

    
    &__lista {
    list-style:none ;
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    }

    &__contacto {
        position: relative;
        display: flex;
        flex-direction: column;
        left: 200px;
    }
    
    &__duda {
        /* ¿Tienes alguna duda? Contactanos */
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 42px;
    letter-spacing: -0.01em;
    width: 30vw;
    
    }
    
    &__lineas {
    
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
    }
    
    
    &_box1 {
        /* Footer / Atomo / INFO */
    position: relative;
    display: flex;
    }
    
    &__info {
        /* INFO DIRECCIÓN: Ruta E 64, X5105 Dumesnil Córdoba - Argentina EMAIL: clientes@canteradumesnil.com.ar HORARIO: Lunes a Viernes de 7 a 21 hs / Sábados de 8 a 12 hs */
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    color: #000000;
    }
    
    &__logo {
    height: 77.906px;
    width: 300px;
    border-radius: 0px;
    }
    }
    