
.nav {  /* Header */
position: fixed ;

&__logo {
    /* LOGO DUMESNIL */
position: relative;
height: 77.90px;
width: 300px;
left: 15px; 
top: 9px;
border-radius: 0px;
animation-name: Logo;
animation-iteration-count: 1 ;
animation-timing-function: ease-in;
animation-duration: 2s;
animation-delay: 0s;
}

@keyframes logo {
100% {   }
}

&__list__negro {
    color: black;   
}

&__contacto__boton {
    position: relative;
    display: flex;
    flex-direction:column;
    height: 96px;
    width: 220px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    align-items:center;

}

&__contacto {
/* Contactanos */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 1.2rem;
color: #43B741;   
text-decoration: none;
padding: 0px;
margin: 0px;
}
}

.roboto li a {
    font-family: 'Roboto', sans-serif;    
}

nav div ul li a {
    border: 5px white solid;
}

nav div ul li a:hover {
    
    background-color: lightgray;
}
