
@media (max-width: 768px) {
    html
    .video-home h1 {
        font-size: 2rem;
    }
    .nav__logo {
        /* LOGO DUMESNIL */
    height: 52px;
    width: 200px;
    animation-name: none;
    
    }
    
}
 @media (max-width: 423px) { 
    .video-home h1 {
        font-size: 22px;
    }
}