*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}


.bg__blanco {
    background-color: white;
}

bg__verde {
    background-color: #43B741;
}

.lc__verde {
    color: #43B741;
}

.img__carrusel {
    height: 70vh;
    object-fit: cover;
}


.header {
    /* Header */
position:fixed ;
}
.header__logo {
    /* LOGO DUMESNIL */
position: relative;
height: 77.90px;
width: 300px;
left: 15px; 
top: 9px;
border-radius: 0px;
animation-name: Logo;
animation-iteration-count: 1 ;
animation-timing-function: ease-in;
animation-duration: 2s;
animation-delay: 0s;
}

@keyframes logo {

100% {   }

}

header div ul li a:hover {
    border: 3px black solid;
   
 }

.header__list__negro {
    color: black;   
}

.header__contacto__boton {
    position: relative;
    display: flex;
    flex-direction:column;
    height: 91px;
    width: 220px;
    left: 15%;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    align-items:center;

}

.header__contacto {
/* Contactanos */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
/* identical to box height line-height: 21px;*/
/* CD Principal */
color: #43B741;   
text-decoration: none;
}

.whatsapp__container {
    left: 93%;
    background-color: #6bc047;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 55px;
    z-index: 11;
    width: 65px;
    height: 65px;
    font-size: 54px;
    padding-top: 2px;
   }

.fa-whatsapp {   
    content: "\f232";
}
.fa {
    display: inline-block;
    font: normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
    }

.imagen1 {
height: 100vh;
width: 100%;
position: relative;
border-radius: 0px;

}

.main_imagen_parrafo {
    background-image: url(../Multimedia/CD_Desarrollo-Sostenible.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 538px;
    left: 0px;
    top: 300px;
       }


.texto__titulo {
    /* NUESTRA ACTIVIDAD ES FUNDAMENTAL PARA EL DESARROLLO DE NUSTRAS COMUNIDADES */

position: relative;
width: 70%;
height: auto;
left: 165px;
top: 80px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 42px;
display: flex;
text-align: center;
color: rgba(0, 0, 0);
}

.texto__parrafos{
    display: flex;
    flex-direction: row;
    }

body main div div p {
position: relative;
width: 30%;
display: inline;
height: 112px;
top: 150px;
font-family: Roboto;
font-size: 20px;
line-height: 28px;
text-align: justify;
color: rgba(0, 0, 0);
}

.texto__parrafo1 {
    left : 15% ;
}

.texto__parrafo2 {
    left : 25% ;
}

.imagen2 {
    /* Semilla_nativa_1 2 */
position: relative;
width: 100%;
height: 538px;
left: 0px;
top: 1431px;
background: url(Semilla_nativa_1.jpg);
}

.catalogo {
    display: flex;
    flex-direction: row;
    position: relative;
}

.main__catalogo__texto {
    display: flex;
    flex-direction: column;
}

.imagencatalogo {
position: relative;
width: 730px;
height: 518px;
left: 0px;
top: 500px;
}

.tituloCatalogo {
    /* Catálogo */
position: relative;
width: 659px;
height: 52px;
left: 100px;
top: 600px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #000000;
}

.catalogoTexto {
/* Contamos con un stock permanente de todos los materiales y asi damos respuesta inmediata a los requerimientos de nuestrosl clientes. */

position: relative;
width: 502px;
height: 112px;
left: 50px;
top: 700px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: justify;
color: #000000;
}

.catalogoBoton {
    /* Catálogo */
position: relative;
left: 50%;
top: 700px;
width: 200px;
height: 60px;
background: #C4C4C4;
border-radius: 5px;;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 28px;
justify-content: center;
/* CD Principal */
color: #43B741;
}


.footer__principal {
/* Molecula / Footer */
width: 100vw;
background: #FFFFFF;
border-top: 2px solid #000000 ;
}

.footer__lista {
list-style:none ;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1rem;
display: flex;
flex-direction: column;
position: relative;
width: auto;
}

.footer__contacto {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 200px;
}

.footer__duda {
    /* ¿Tienes alguna duda? Contactanos */
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 2rem;
line-height: 42px;
letter-spacing: -0.01em;
width: 30vw;

}

.footer__lineas {

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1rem;
color: #000000;
}


.footer_box1 {
    /* Footer / Atomo / INFO */
position: relative;
display: flex;
}

.footer__info {
    /* INFO DIRECCIÓN: Ruta E 64, X5105 Dumesnil Córdoba - Argentina EMAIL: clientes@canteradumesnil.com.ar HORARIO: Lunes a Viernes de 7 a 21 hs / Sábados de 8 a 12 hs */
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1rem;
align-items: center;
color: #000000;
}

.footer__logo {
height: 77.906px;
width: 300px;
border-radius: 0px;
}
