@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titulo--principal {
  color: #6bc047;
}

.titulo--secundario {
  color: black;
}

.titulo--acento {
  color: grey;
}

#whatsapp-flogo {
  padding-top: 4px;
}

#whatsapp-container {
  right: 22px;
  background-color: #6bc047;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 55px;
  z-index: 11;
  width: 65px;
  height: 65px;
  font-size: 54px;
  padding-top: 2px;
  line-height: none;
  font-family: none;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-whatsapp:before {
  content: "\f232";
}

#whatsapp-container a {
  color: white;
}

.bg__blanco {
  background-color: white;
}

.bg__verde {
  background-color: #43B741;
  border-color: #43B741 1px solid;
  color: white;
}

.lc__verde {
  color: #43B741;
}

.lc__negro {
  color: black;
}

.bg__nosotros {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #43B741 1px solid;
  border-radius: 10px;
}

.img__carrusel {
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  /* Header */
  position: fixed;
}

.nav__logo {
  /* LOGO DUMESNIL */
  position: relative;
  height: 77.90px;
  width: 300px;
  left: 15px;
  top: 9px;
  border-radius: 0px;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  z-index: 100;
}

@-webkit-keyframes logo {
  0% {
    position: absolute;
    left: 12rem;
    top: 12rem;
    height: 232px;
    width: 900px;
  }
  20% {
    position: absolute;
    left: 12rem;
    top: 12rem;
    height: 232px;
    width: 900px;
  }
  25% {
    position: absolute;
    left: 8rem;
    top: 8rem;
    height: 180px;
    width: 700px;
  }
  50% {
    position: absolute;
    left: 5rem;
    top: 5rem;
    height: 117px;
    width: 450px;
  }
  95% {
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    height: 77.90px;
    width: 300px;
  }
  100% {
    position: relative;
    left: 1rem;
    top: 0.6rem;
    height: 77.90px;
    width: 300px;
  }
}

@keyframes logo {
  0% {
    position: absolute;
    left: 12rem;
    top: 12rem;
    height: 232px;
    width: 900px;
  }
  20% {
    position: absolute;
    left: 12rem;
    top: 12rem;
    height: 232px;
    width: 900px;
  }
  25% {
    position: absolute;
    left: 8rem;
    top: 8rem;
    height: 180px;
    width: 700px;
  }
  50% {
    position: absolute;
    left: 5rem;
    top: 5rem;
    height: 117px;
    width: 450px;
  }
  95% {
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    height: 77.90px;
    width: 300px;
  }
  100% {
    position: relative;
    left: 1rem;
    top: 0.6rem;
    height: 77.90px;
    width: 300px;
  }
}

.nav__list__negro {
  color: black;
}

.nav__contacto__boton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 96px;
  width: 220px;
  top: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__contacto {
  /* Contactanos */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  color: #43B741;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.roboto li a {
  font-family: 'Roboto', sans-serif;
}

nav div ul li a {
  border: 5px white solid;
}

nav div ul li a:hover {
  background-color: lightgray;
  color: white;
}

.section__imagenfija__parrafo {
  background-image: url(../Multimedia/CD_Desarrollo-Sostenible.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 538px;
  left: 0px;
}

.sectionContacto__imagenfija {
  background-image: url(../Multimedia/CD_Contacto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 700px;
  left: 0px;
}

.sectionDS__imagenfija {
  background-image: url(../Multimedia/CanteraDumesnilPlantinesArriba.jpeg);
  rotate: 90deg;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 600px;
  left: 0px;
}

.servicios-titulo {
  padding: 0px;
  margin: 40px 0px 30px 0px;
}

.servicios-contenedor {
  width: 100%;
  display: contents;
  margin-bottom: 20px;
}

.bloque-servicios {
  margin-bottom: 20px;
}

.servicios-imagen {
  height: 310px;
}

.servicios-info {
  height: 310px;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor-video {
  margin: 0 auto;
  position: relative !important;
  width: 100%;
  height: 100%;
}

.contenedor-video video {
  z-index: -1;
  min-width: 100%;
  border: none;
  display: block;
}

#video_overlays {
  position: absolute !important;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-home {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-home h1 {
  font-family: Roboto , sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
  /* font-stretch: normal; */
  /* line-height: normal; */
  letter-spacing: 0.1px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

row div {
  font-family: roboto , sans-serif;
}

.br__verde {
  border: #43B741 2px solid;
  border-radius: 5px;
}

.footer {
  border-top: 2px solid #000000;
}

.footer__title {
  font-size: 15px;
  font-weight: 700;
}

.footer__lista {
  list-style: none;
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: auto;
  line-height: 2.5rem;
}

.footer__contacto {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 200px;
}

.footer__duda {
  /* ¿Tienes alguna duda? Contactanos */
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 42px;
  letter-spacing: -0.01em;
  width: 30vw;
}

.footer__lineas {
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: #000000;
}

.footer_box1 {
  /* Footer / Atomo / INFO */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info {
  /* INFO DIRECCIÓN: Ruta E 64, X5105 Dumesnil Córdoba - Argentina EMAIL: clientes@canteradumesnil.com.ar HORARIO: Lunes a Viernes de 7 a 21 hs / Sábados de 8 a 12 hs */
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.footer__logo {
  height: 77.906px;
  width: 300px;
  border-radius: 0px;
}

@media (max-width: 768px) {
  html
.video-home h1 {
    font-size: 2rem;
  }
  .nav__logo {
    /* LOGO DUMESNIL */
    height: 52px;
    width: 200px;
    -webkit-animation-name: none;
            animation-name: none;
  }
}

@media (max-width: 423px) {
  .video-home h1 {
    font-size: 22px;
  }
}
/*# sourceMappingURL=main.css.map */